.common-headline {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 160px;
  max-height: 230px;
  padding: 1.25rem 1rem;
  border-bottom: 2px solid $color-black;
  @include font-medium;
  font-size: 1.875rem;
  line-height: 2.25rem;

  @include mobile {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  @include not-mobile {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }

  @include desktop {
    font-size: 3rem;
    line-height: 1;
  }

  @include desktop-medium {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.common-display-pc {
  display: none;

  @include not-mobile {
    display: block;
  }
}

.common-display-mo {
  display: block;

  @include not-mobile {
    display: none;
  }
}

.letter-wrapper {
  display: inline-block;
}