// font
@mixin font-medium {
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
}

@mixin font-bold {
  font-family: KunstBold, sans-serif;
  font-weight: 700;
}

// media query
@mixin mobile {
  @media screen and (min-width: 640px) {
    @content;
  }
}

@mixin not-mobile {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin desktop-medium {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin desktop-large {
  @media screen and (min-width: 1536px) {
    @content;
  }
}
