.globan-nav {
	color: #fff;
	&__list {
		display: flex;
		column-gap: .78125vw;
    transition: opacity .6s cubic-bezier(.32,.94,.6,1);
    transition-delay: 0s;
	}
	&__item {}
	&__link {
		position: relative;
		display: flex;
		font-weight: 700;
	}
}