@charset "UTF-8";
.common-headline {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 160px;
  max-height: 230px;
  padding: 1.25rem 1rem;
  border-bottom: 2px solid #000;
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 640px) {
  .common-headline {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .common-headline {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .common-headline {
    font-size: 3rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px) {
  .common-headline {
    font-size: 3.75rem;
    line-height: 1;
  }
}

.common-display-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .common-display-pc {
    display: block;
  }
}

.common-display-mo {
  display: block;
}
@media screen and (min-width: 768px) {
  .common-display-mo {
    display: none;
  }
}

.letter-wrapper {
  display: inline-block;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

input, select, button {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: KunstRegular, sans-serif;
  font-feature-settings: normal;
  font-variation-settings: normal;
  color: #000;
  background-color: #efefef;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
}

#wrap {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

svg {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
}
button:not(:focus-visible) {
  outline: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

@font-face {
  font-family: KunstRegular;
  src: url(../fonts/Kunst-72-Regular.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: KunstMedium;
  src: url(../fonts/Kunst-96-Medium.otf) format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: KunstBold;
  src: url(../fonts/Kunst-20-Bold.otf) format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: KunstHeavy;
  src: url(../fonts/Kunst-144-Heavy.otf) format("opentype");
  font-weight: 900;
}
.header {
  position: sticky;
  top: 0;
  width: 100vw;
  max-width: 100%;
  height: 2.75rem;
  z-index: 9;
  background-color: #efefef;
  border: 2px solid #000;
}
@media screen and (min-width: 768px) {
  .header {
    height: 5rem;
  }
}

.global-nav {
  height: 100%;
}
.global-nav__list {
  display: flex;
  height: 100%;
}
.global-nav__item--white {
  flex-grow: 1;
}
.global-nav__button {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0.75rem 0.75rem 0.75rem 1.75rem;
  font-family: KunstBold, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .global-nav__button {
    padding-left: 3rem;
    font-size: 1.875rem;
  }
}
.global-nav__item--white .global-nav__button {
  color: #000;
}
.global-nav__item--black .global-nav__button {
  border-width: 0 2px;
  border-style: solid;
  border-color: #000;
  background-color: #1f1f1f;
  color: #efefef;
  white-space: nowrap;
}
.global-nav__item--red .global-nav__button {
  color: #efefef;
  background-color: #ef3205;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) {
  .global-nav__item--red .global-nav__button {
    padding-bottom: 14px;
  }
}
.global-nav__item--red .global-nav__button:hover {
  color: #ef3205;
  background-color: #000;
}
.global-nav__item--red .global-nav__button svg {
  width: 100%;
  height: 100%;
  max-width: 121px;
  max-height: 15px;
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .global-nav__item--red .global-nav__button svg {
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
  }
}
.global-nav__arrow {
  max-width: 0;
  opacity: 0;
  font-family: KunstRegular, sans-serif;
  font-weight: 600;
  color: #ef3205;
  transition-property: opacity, max-width;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.global-nav__button:hover .global-nav__arrow {
  max-width: 2rem;
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  max-width: 100%;
  height: 700px;
  padding: 2rem 1rem;
  background-color: #ef3205;
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 960px;
    padding: 3.5rem;
  }
}
.footer__row--bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 4rem;
}
@media screen and (min-width: 1024px) {
  .footer__row--bottom {
    flex-direction: row;
    gap: 0;
  }
}
.footer__address {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .footer__address {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__address {
    font-size: 4.5rem;
    line-height: 1;
  }
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.25rem;
}
@media screen and (min-width: 1024px) {
  .footer-nav__list {
    flex-direction: row;
    align-items: stretch;
  }
}
.footer-nav__item {
  font-size: 1.25rem;
  line-height: 1;
  color: #efefef;
}
.footer-nav__link {
  position: relative;
  display: inline-block;
}
.footer-nav__link::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #efefef;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__item:hover .footer-nav__link::after {
  transform: scaleX(1);
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  overflow: hidden;
  background-color: #efefef;
}
.loading__inner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .loading__inner {
    padding: 4rem;
  }
}
.loading__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: end;
}
@media screen and (min-width: 768px) {
  .loading__text {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .loading__text {
    font-size: 3rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1280px) {
  .loading__text {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.vertical-section {
  height: calc(100vh - 2.75rem);
}
@media screen and (min-width: 768px) {
  .vertical-section {
    height: calc(100vh - 5rem);
  }
}

.section-home {
  height: 80%;
}
.section-home__inner {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-home__headline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: KunstBold, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  color: #1f1f1f;
}
@media screen and (min-width: 1024px) {
  .section-home__headline {
    height: 16.666667%;
    font-size: 4.5rem;
    line-height: 1;
  }
}
.section-home__embedded {
  display: flex;
  height: 66.666667%;
  -webkit-clip-path: inset(0 0.5px);
          clip-path: inset(0 0.5px);
}
@media screen and (min-width: 1024px) {
  .section-home__embedded {
    align-items: flex-end;
    height: 83.333333%;
  }
}
.section-home__embedded video {
  max-height: 100%;
}

.section-order {
  height: 20%;
  max-width: 100%;
}
.section-order__list {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  border: 2px solid #000;
}
.section-order__item {
  display: flex;
  justify-content: center;
  width: 50%;
}
@media screen and (min-width: 1024px) {
  .section-order__item {
    width: 28%;
  }
}
.section-order__item--logo {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 44%;
  padding-right: 1rem;
  border-top: 2px solid #000;
  background-color: #efefef;
}
@media screen and (min-width: 1024px) {
  .section-order__item--logo {
    padding-right: 5rem;
    border-top: none;
  }
}
.section-order__cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #000;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .section-order__cta {
    gap: 1rem;
  }
}
.section-order__item:nth-child(2) .section-order__cta {
  border-left-width: 2px;
  border-style: solid;
  border-color: #000;
}
@media screen and (min-width: 1024px) {
  .section-order__item:nth-child(2) .section-order__cta {
    border-right-width: 2px;
  }
}
.section-order__cta:hover {
  background-color: #ef3205;
  color: #efefef;
}
.section-order__icon {
  display: block;
  width: 2rem;
  color: inherit;
}
@media screen and (min-width: 768px) {
  .section-order__icon {
    width: 3rem;
  }
}
.section-order__icon svg {
  fill: currentColor;
}
.section-order__title {
  margin-right: 0.5rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .section-order__title {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-order__title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.section-story {
  padding: 0 1rem;
}
.section-story__inner {
  padding: 6rem 0 4rem;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .section-story__inner {
    width: 83.333333%;
  }
}
@media screen and (min-width: 1536px) {
  .section-story__inner {
    width: 66.666667%;
  }
}
.section-story__description {
  font-size: 1.875rem;
  line-height: 1.25;
  color: #1f1f1f;
}
@media screen and (min-width: 768px) {
  .section-story__description {
    font-size: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-story__description {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-story__description {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1536px) {
  .section-story__description {
    font-size: 4.5rem;
  }
}
.section-story__decoration {
  margin: 0 -1rem;
}
.section-story__decoration video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.995);
}
@media screen and (min-width: 1024px) {
  .section-story__decoration video {
    height: 100%;
  }
}

.section-about {
  width: 100vw;
  max-width: 100%;
  overflow: hidden;
}
.section-about__headline {
  padding: 1rem;
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 2.5rem;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .section-about__headline {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media screen and (max-width: 1023px) {
  .section-about .swiper {
    padding: 0 25%;
    border: 2px solid #000;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    border: 2px solid #000;
  }
}
.section-about__item {
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .section-about__item:nth-child(2) {
    border-width: 0 2px;
    border-style: solid;
    border-color: #000;
  }
}
.section-about__textbox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  pointer-events: none;
}
@media screen and (max-width: 1023px) {
  .section-about__textbox {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__textbox {
    padding: 2.5rem 2.5rem 2.5rem 5rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .section-about__textbox {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .section-about__textbox {
    font-size: 3rem;
    line-height: 1;
  }
}
.section-about__item:hover + .section-about__item .section-about__title {
  display: none;
}
.section-about__description {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  transform: translateY(10px);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-about__item:hover + .section-about__item .section-about__description {
  opacity: 1;
  transform: translateY(0);
  position: relative;
}
.section-about__thumbnail {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
@media screen and (max-width: 1023px) {
  .section-about__item.swiper-slide-active .section-about__thumbnail {
    border-width: 0 2px;
    border-style: solid;
    border-color: #000;
  }
}
.section-about__thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.section-about__item:hover .section-about__thumbnail img {
  transform: scale(1.25);
}
@media screen and (max-width: 1023px) {
  .section-about__thumbnail img {
    opacity: 0.25;
  }
  .section-about__item.swiper-slide-active .section-about__thumbnail img {
    opacity: 1;
    transform: scale(1.25);
  }
}
.section-about__cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.section-about__cover svg {
  animation-duration: 200ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.section-about__marquee {
  height: 178px;
  overflow: hidden;
  background-color: #ef3205;
}
@media screen and (min-width: 1024px) {
  .section-about__marquee {
    display: none;
  }
}
.section-about__marquee svg {
  width: 100%;
  height: 100%;
}
.section-about__copy {
  display: flex;
  align-items: flex-end;
  height: 14rem;
  padding: 1rem 1.5rem 1rem 1rem;
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .section-about__copy {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-about__copy {
    display: none;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.section-ingredient {
  width: 100vw;
  max-width: 100%;
  margin-top: 5rem;
  border: 2px solid #000;
}
.section-ingredient__embedded {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.section-ingredient__embedded video {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.995);
}

.section-detail {
  width: 100vw;
  max-width: 100%;
  margin-top: 9rem;
  border: 2px solid #000;
}
@media screen and (min-width: 768px) {
  .section-detail {
    margin-top: 10rem;
  }
}
.section-detail__list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .section-detail__list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 3.5rem;
  }
}
@media screen and (min-width: 1536px) {
  .section-detail__list {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
.section-detail__item {
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .section-detail__item {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
@media screen and (max-width: 1535px) {
  .section-detail__item .letter-wrapper {
    display: inline-block;
    animation: scrollHorizontal 10s linear infinite;
  }
}
.section-detail__row {
  padding: 0.5rem 0;
}
.section-detail__row + .section-detail__row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000;
}
.section-detail__title {
  width: 95%;
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
  overflow: hidden;
}
.section-detail__text {
  flex-shrink: 0;
  overflow: hidden;
}
.section-detail__text:nth-child(1) {
  width: 75%;
}

@keyframes scrollHorizontal {
  0%, 100% {
    transform: translate(2%);
  }
  50% {
    transform: translate(-30%);
  }
}
.section-package {
  overflow: hidden;
}
.section-package__inner {
  display: flex;
  flex-direction: column-reverse;
}
.section-package__headline {
  display: flex;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 768px) {
  .section-package__headline {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .section-package__headline {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    font-size: 4.5rem;
    line-height: 1;
  }
}
.section-package__embedded video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(0.995);
}
@media screen and (min-width: 1024px) {
  .section-package__embedded video {
    height: 100vh;
  }
}

.section-faq {
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .section-faq {
    padding-top: 9rem;
  }
}
.section-faq__inner {
  max-width: 1900px;
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .section-faq__inner {
    padding: 3.5rem;
  }
}
.section-faq__headline {
  margin-bottom: 20px;
  font-family: KunstBold, sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.section-faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-faq__item {
  padding: 5px;
  border-top: 1px solid #000;
}
.section-faq__cta {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 50px;
  font-size: 18px;
  text-align: left;
}
.section-faq__cta::after {
  content: "↑";
  position: absolute;
  top: 0;
  right: 21px;
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}
.section-faq__item.is-open .section-faq__cta::after {
  transform: rotate(0deg);
}
.section-faq__answer {
  padding-left: 20px;
  padding-right: 30px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.2s ease, opacity 0.2s ease, margin-top 0.5s ease;
}
.section-faq__item.is-open .section-faq__answer {
  max-height: 1000px;
  margin-top: 15px;
  opacity: 1;
}

.section-banner {
  padding-top: 4rem;
}
.section-banner__header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.5rem;
  padding: 1rem;
  height: 9rem;
  text-align: right;
}
@media screen and (min-width: 1024px) {
  .section-banner__header {
    right: 3%;
    padding: 2rem 1rem 2rem 4rem;
  }
}
.section-banner__headline {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 1024px) {
  .section-banner__headline {
    font-size: 3.75rem;
    line-height: 1;
  }
}
.section-banner__time {
  color: #ef3205;
}
.section-banner__time .section-banner__icon {
  display: none;
  margin-left: 0.5rem;
}
.section-banner__description {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 1024px) {
  .section-banner__description {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
@media screen and (max-width: 1023px) {
  .section-banner__icon {
    display: none;
  }
}
.section-banner__icon svg {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}
.section-banner__images {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  max-width: 100%;
  max-height: 700px;
}
@media screen and (min-width: 768px) {
  .section-banner__images {
    flex-direction: row;
  }
}
.section-banner__image {
  height: 250px;
}
@media screen and (min-width: 768px) {
  .section-banner__image {
    height: auto;
  }
  .section-banner__image:nth-child(1) {
    width: 58.333333%;
  }
  .section-banner__image:nth-child(2) {
    width: 41.666667%;
  }
}
.section-banner__image img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.floating-clock {
  position: fixed;
  bottom: 0;
  right: 1%;
  z-index: 9;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
}
.floating-clock.is-invisible {
  display: none;
}
@media screen and (max-width: 1023px) {
  .floating-clock {
    display: none;
  }
}
.floating-clock__textbox {
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: right;
}
.floating-clock__time {
  display: flex;
  align-items: flex-end;
}
.floating-clock__copy {
  display: none;
  padding: 1rem;
  border: 2px solid #000;
  background-color: #efefef;
}
.floating-clock__icon {
  margin-left: 0.5rem;
}
.floating-clock__icon svg {
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal__content {
  position: relative;
  z-index: 1;
  max-width: 90%;
  border: 2px solid #000;
  background-color: #efefef;
}
@media screen and (min-width: 768px) {
  .modal__content {
    width: 850px;
  }
}
.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #000;
}
.modal__close:hover {
  color: #ef3205;
}
@media screen and (min-width: 768px) {
  .modal__close {
    top: 2rem;
    right: 2rem;
  }
}
.modal__close svg {
  fill: currentColor;
}
.modal__textbox {
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .modal__textbox {
    padding: 2rem;
  }
}
.modal__headline {
  display: block;
  margin-bottom: 1.5rem;
  font-family: KunstBold, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}
@media screen and (min-width: 768px) {
  .modal__headline {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}
.modal__headline span {
  color: #ef3205;
}
.modal__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}
@media screen and (min-width: 768px) {
  .modal__description {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
.modal__description a {
  text-decoration-line: underline;
  transition: color 0.3s ease;
}
.modal__description a:hover {
  color: #ef3205;
}
.modal__buttons {
  display: flex;
  height: 2.75rem;
  border-top: 2px solid #000;
}
@media screen and (min-width: 768px) {
  .modal__buttons {
    height: 5rem;
  }
}
.modal__button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 50%;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  font-family: KunstMedium, sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.75rem;
  border-width: 1px;
  border-color: #000;
  transition-duration: 0.3s;
}
@media screen and (min-width: 768px) {
  .modal__button {
    padding: 0.75rem 0.75rem 0.75rem 3rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}
.modal__button--close {
  color: #000;
  border-right-width: 1px;
  background-color: #efefef;
  transition-property: background-color, color;
}
.modal__button--close:hover {
  color: #efefef;
  background-color: #ef3205;
}
.modal__button--visit {
  color: #efefef;
  border-left-width: 1px;
  background-color: #000;
  transition-property: color;
}
.modal__button--visit:hover {
  color: #ef3205;
}
.modal__dimmed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}