.loading {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index--loading;
	overflow: hidden;
	background-color: $color-white;

	&__inner {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 1.5rem;
		padding: 1rem;
		width: 100%;
		height: 100%;

		@include not-mobile {
			padding: 4rem;
		}
	}

	&__text {
		font-size: 1.25rem;
		line-height: 1.75rem;
		text-align: end;

		@include not-mobile {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		@include desktop {
			font-size: 3rem;
			line-height: 1;
		}

		@include desktop-medium {
			font-size: 4.5rem;
			line-height: 1;
		}
	}
}

.vertical-section {
	height: calc(100vh - 2.75rem);

	@include not-mobile {
		height: calc(100vh - 5rem);
	}
}

.section-home {
	height: 80%;

	&__inner {
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	&__headline {
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		@include font-bold;
		font-size: 2.25rem;
		line-height: 2.5rem;
		color: $color-dark-black;

		@include desktop {
			height: 16.666667%;
			font-size: 4.5rem;
			line-height: 1;
		}
	}

	&__embedded {
		display: flex;
		height: 66.666667%;
		clip-path: inset(0 .5px);

		@include desktop {
			align-items: flex-end;
			height: 83.333333%;
		}

		video {
			max-height: 100%;
		}
	}
}


.section-order {
	height: 20%;
	max-width: 100%;

	&__list {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		border: 2px solid $color-black;
	}

	&__item {
		display: flex;
		justify-content: center;
		width: 50%;

		@include desktop {
			width: 28%;
		}
	}

	&__item--logo {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-width: 44%;
		padding-right: 1rem;
		border-top: 2px solid $color-black;
		background-color: $color-white;

		@include desktop {
			padding-right: 5rem;
			border-top: none;
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		color: $color-black;
		transition-property: background-color, color;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(.4, 0, .2, 1);

		@include desktop {
			gap: 1rem;
		}

		.section-order__item:nth-child(2) & {
			border-left-width: 2px;
			border-style: solid;
			border-color: $color-black;

			@include desktop {
				border-right-width: 2px;
			}
		}
	}

	&__cta:hover {
		background-color: $color-primary;
		color: $color-white;
	}

	&__icon {
		display: block;
		width: 2rem;
		color: inherit;

		@include not-mobile {
			width: 3rem;
		}
	}

	&__icon svg {
		fill: currentColor;
	}

	&__title {
		margin-right: .5rem;
		font-size: 1.5rem;
		line-height: 2rem;

		@include not-mobile {
			font-size: 1.875rem;
			line-height: 2.25rem;
		}

		@include desktop-medium {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	}
}

.section-story {
	padding: 0 1rem;

	&__inner {
		padding: 6rem 0 4rem;
		margin: 0 auto;

		@include not-mobile {
			width: 83.333333%;
		}

		@include desktop-large {
			width: 66.666667%;
		}
	}

	&__description {
		font-size: 1.875rem;
		line-height: 1.25;
		color: $color-dark-black;

		@include not-mobile {
			font-size: 2.25rem;
		}

		@include desktop {
			font-size: 3rem;
		}

		@include desktop-medium {
			font-size: 3.75rem;
		}

		@include desktop-large {
			font-size: 4.5rem;
		}
	}

	&__decoration {
		margin: 0 -1rem;

		video {
			width: 100%;
			object-fit: cover;
			filter: brightness(0.995);

			@include desktop {
				height: 100%;
			}
		}
	}
}

.section-about {
	width: 100vw;
	max-width: 100%;
	overflow: hidden;

	&__headline {
		padding: 1rem;
		@include font-medium;
		font-size: 2.25rem;
		line-height: 2.5rem;
		white-space: nowrap;

		@include not-mobile {
			font-size: 4.5rem;
			line-height: 1;
		}
	}

	.swiper {
		@include tablet {
			padding: 0 25%;
			border: 2px solid $color-black;
		}
	}

	&__list {
		@include desktop {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			border: 2px solid $color-black;
		}
	}

	&__item {
		position: relative;
		overflow: hidden;

		&:nth-child(2) {
			@include desktop {
				border-width: 0 2px;
				border-style: solid;
				border-color: $color-black;
			}
		}
	}

	&__textbox {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 1.25rem 1.25rem 1.25rem 2.5rem;
		font-size: 1.25rem;
		line-height: 1.75rem;
		pointer-events: none;

		@include tablet {
			display: none;
		}

		@include desktop {
			padding: 2.5rem 2.5rem 2.5rem 5rem;
			font-size: 1.875rem;
			line-height: 2.25rem;
		}

		@include desktop-medium {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		@include desktop-large {
			font-size: 3rem;
			line-height: 1;
		}
	}

	&__description {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: 1;
		display: flex;
		justify-items: flex-end;
		align-items: flex-end;
		width: 100%;
		height: 100%;
		padding: inherit;
		font-size: 1rem;
		line-height: 1.5rem;
		text-align: right;
		background-color: $color-white;
		pointer-events: none;
		opacity: 0;
		transform: translateY(10px);
		transition-property: transform;
		transition-duration: .4s;

		@include desktop {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		@include desktop-medium {
			font-size: 2rem;
			line-height: 2.5rem;
		}

		@include desktop-large {
			font-size: 2.5rem;
			line-height: 3rem;
		}

		@media screen and (min-width: 1920px) {
			font-size: 3rem;
			line-height: 1;
		}
	}

	&__thumbnail {
		position: relative;
		overflow: hidden;
		padding-bottom: 100%;

		@include tablet {
			.section-about__item.swiper-slide-active & {
				border-width: 0 2px;
				border-style: solid;
				border-color: $color-black;
			}
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			object-fit: cover;
			transition-property: transform;
			transition-duration: .3s;
			transition-timing-function: cubic-bezier(.4, 0, .2, 1);

			.section-about__item:hover & {
				transform: scale(1.25);
			}

			@include tablet {
				opacity: .25;

				@at-root .section-about__item.swiper-slide-active & {
					opacity: 1;
					transform: scale(1.25);
				}
			}
		}
	}

	&__cover {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;

		&.is-visible,
		&.is-visible .marquee {
			display: block;
		}

		.marquee__text {
			font-size: 5rem;

			@include desktop-large {
				font-size: 8rem;
			}
		}
	}

	&__marquee {
		height: 178px;

		@include desktop {
			display: none;
		}

		@at-root .marquee {
			display: none;
			position: relative;
			height: 100%;
			overflow: hidden;
			background-color: $color-primary;
			pointer-events: none;

			&.is-visible {
				display: block;
			}

			&__texts {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				left: 50%;
				transform: translate(-50%, -50%);

				&:nth-child(2) .marquee__text:nth-child(2n) {
					animation-name: marquee2-reverse;
					transform: rotate(-35deg) translateX(50%);
				}

				&:nth-child(2) .marquee__text:nth-child(2n+1) {
					animation-name: marquee2;
					transform: rotate(-35deg) translateX(-50%);
				}
			}

			&__text {
				display: block;
				@include font-bold;
				font-size: 3.2rem;
				white-space: nowrap;
				animation-duration: 20s;
				animation-iteration-count: infinite;
				animation-timing-function: linear;

				&:nth-child(2n) {
					animation-name: marquee-reverse;
				}

				&:nth-child(2n+1) {
					animation-name: marquee;
				}
			}

			@keyframes marquee {
				0% {
					transform: rotate(-35deg) translateX(0);
				}

				100% {
					transform: rotate(-35deg) translateX(-50%);
				}
			}

			@keyframes marquee-reverse {
				0% {
					transform: rotate(-35deg) translateX(0);
				}

				100% {
					transform: rotate(-35deg) translateX(50%);
				}
			}

			@keyframes marquee2 {
				0% {
					transform: rotate(-35deg) translateX(100%);
				}

				100% {
					transform: rotate(-35deg) translateX(50%);
				}
			}

			@keyframes marquee2-reverse {
				0% {
					transform: rotate(-35deg) translateX(-100%);
				}

				100% {
					transform: rotate(-35deg) translateX(-50%);
				}
			}
		}
	}

	&__copy {
		display: flex;
		align-items: flex-end;
		height: 14rem;
		padding: 1rem 1.5rem 1rem 1rem;
		@include font-medium;
		font-size: 1.5rem;
		line-height: 2rem;
		text-align: right;

		@include not-mobile {
			font-size: 1.875rem;
			line-height: 2.25rem;
		}

		@include desktop {
			display: none;
		}
	}
}

.section-ingredient {
	width: 100vw;
	max-width: 100%;
	margin-top: 5rem;
	border: 2px solid $color-black;

	&__embedded {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;

		video {
			display: block;
			max-width: 100%;
			object-fit: cover;
			filter: brightness(0.995);
		}
	}
}

.section-detail {
	width: 100vw;
	max-width: 100%;
	margin-top: 9rem;
	border: 2px solid $color-black;

	@include not-mobile {
		margin-top: 10rem;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(1, minmax(0, 1fr));
		gap: 2rem;
		padding: 1rem;

		@include not-mobile {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			padding: 3.5rem;
		}

		@include desktop-large {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}
	}

	&__item {
		white-space: nowrap;

		@include desktop {
			font-size: 1.125rem;
			line-height: 1.75rem;
		}

		.letter-wrapper {
			&.scroll-move {
				animation: scrollHorizontal 10s linear infinite;
			}
		}
	}

	&__row {
		padding: .5rem 0;

		&+& {
			display: flex;
			justify-content: space-between;
			border-top: 1px solid $color-black;
		}
	}

	&__title {
		width: 95%;
		@include font-medium;
		overflow: hidden;
	}

	&__text {
		flex-shrink: 0;
		overflow: hidden;

		&:nth-child(1) {
			width: 75%;
		}
	}
}

@keyframes scrollHorizontal {

	0%,
	100% {
		transform: translate(2%)
	}

	50% {
		transform: translate(-30%)
	}
}

.section-package {
	overflow: hidden;

	&__inner {
		display: flex;
		flex-direction: column-reverse;
	}

	&__headline {
		display: flex;
		flex-direction: column;
		max-width: 1800px;
		margin: 0 auto;
		padding: 1.5rem 1rem;
		font-size: 1.875rem;
		line-height: 2.25rem;

		@include not-mobile {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		@include desktop {
			padding-left: 3.5rem;
			padding-right: 3.5rem;
			font-size: 4.5rem;
			line-height: 1;
		}
	}

	&__embedded {
		video {
			width: 100%;
			object-fit: cover;
			filter: brightness(0.995);

			@include desktop {
				height: 100vh;
			}
		}
	}
}

.section-faq {
	padding-top: 2rem;

	@include not-mobile {
		padding-top: 9rem;
	}

	&__inner {
		max-width: 1900px;
		margin: 0 auto;
		padding: 1rem;

		@include not-mobile {
			padding: 3.5rem;
		}
	}

	&__headline {
		margin-bottom: 20px;
		@include font-bold;
		font-size: 18px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__item {
		padding: 5px;
		border-top: 1px solid $color-black;
	}

	&__cta {
		position: relative;
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-right: 50px;
		font-size: 18px;
		text-align: left;

		&::after {
			content: '↑';
			position: absolute;
			top: 0;
			right: 21px;
			transform: rotate(180deg);
			transition: transform .2s ease;

			.section-faq__item.is-open & {
				transform: rotate(0deg);
			}
		}
	}

	&__answer {
		padding-left: 20px;
		padding-right: 30px;
		max-height: 0;
		overflow: hidden;
		opacity: 0;
		transition: max-height .2s ease, opacity .2s ease, margin-top .5s ease;

		.section-faq__item.is-open & {
			max-height: 1000px;
			margin-top: 15px;
			opacity: 1;
		}
	}
}

.banner {
	padding-top: 4rem;

	&__header {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		gap: 1.5rem;
		padding: 1rem;
		height: 9rem;
		text-align: right;

		@include desktop {
			right: 3%;
			padding: 2rem 1rem 2rem 4rem;
		}
	}

	&__headline {
		font-size: 1.875rem;
		line-height: 2.25rem;

		@include desktop {
			font-size: 3.75rem;
			line-height: 1;
		}
	}

	&__time {
		color: $color-primary;
	}

	&__description {
		font-size: 1.25rem;
		line-height: 1.75rem;

		@include desktop {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}
	}

	&__images {
		display: flex;
		flex-direction: column-reverse;
		width: 100vw;
		max-width: 100%;
		max-height: 700px;

		@include not-mobile {
			flex-direction: row;
		}
	}

	&__image {
		height: 250px;

		@include not-mobile {
			height: auto;

			&:nth-child(1) {
				width: 58.333333%;
			}

			&:nth-child(2) {
				width: 41.666667%;
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.floating-clock {
	position: fixed;
	bottom: 0;
	right: 1%;
	z-index: $z-index--clock;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	padding: 1rem;

	&.is-invisible {
		display: none;
	}

	&.is-static {
		position: static;
		padding: 0;
	}

	@include tablet {
		display: none;
	}

	&__textbox {
		font-size: 1.25rem;
		line-height: 1.75rem;
		text-align: right;

		.is-static & {
			display: none;
		}
	}

	&__time {
		display: flex;
		align-items: flex-end;
	}

	&__copy {
		display: none;
		padding: 1rem;
		border: 2px solid $color-black;
		background-color: $color-white;
	}

	&__icon {
		margin-left: .5rem;

		svg {
			animation-name: rotate;
			animation-iteration-count: infinite;
			animation-duration: 2.5s;
		}
	}
}

.modal {
	// display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: $z-index--modal;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;

	&.is-open {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}

	&__content {
		position: relative;
		z-index: 1;
		max-width: 90%;
		border: 2px solid $color-black;
		background-color: $color-white;

		@include not-mobile {
			width: 850px;
		}
	}

	&__close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		color: $color-black;

		&:hover {
			color: $color-primary;
		}

		@include not-mobile {
			top: 2rem;
			right: 2rem;
		}

		svg {
			fill: currentColor;
		}
	}

	&__textbox {
		padding: 1rem;

		@include not-mobile {
			padding: 2rem;
		}
	}

	&__headline {
		display: block;
		margin-bottom: 1.5rem;
		@include font-bold;
		font-size: 1.5rem;
		line-height: 2rem;

		@include not-mobile {
			font-size: 2.25rem;
			line-height: 2.5rem;
		}

		span {
			color: $color-primary;
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: 1.125rem;
		line-height: 1.75rem;

		@include not-mobile {
			font-size: 1.5rem;
			line-height: 2rem;
		}

		a {
			text-decoration-line: underline;
			transition: color .3s ease;

			&:hover {
				color: $color-primary;
			}
		}
	}

	&__buttons {
		display: flex;
		height: 2.75rem;
		border-top: 2px solid $color-black;

		@include not-mobile {
			height: 5rem;
		}
	}

	&__button {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		width: 50%;
		padding: .25rem .25rem .25rem .75rem;
		@include font-medium;
		font-size: 1.25rem;
		line-height: 1.75rem;
		border-width: 1px;
		border-color: $color-black;
		transition-duration: .3s;

		@include not-mobile {
			padding: .75rem .75rem .75rem 3rem;
			font-size: 1.875rem;
			line-height: 2.25rem;
		}

		&--close {
			color: $color-black;
			border-right-width: 1px;
			background-color: $color-white;
			transition-property: background-color, color;

			&:hover {
				color: $color-white;
				background-color: $color-primary;
			}
		}

		&--visit {
			color: $color-white;
			border-left-width: 1px;
			background-color: $color-black;
			transition-property: color;

			&:hover {
				color: $color-primary;
			}
		}
	}

	&__dimmed {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, .5);
		// pointer-events: none;
	}
}